In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cd /content/drive/MyDrive/fastcampus/이커머스

/content/drive/MyDrive/fastcampus/이커머스

In [3]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt
plt.style.use(["seaborn-white"])
import seaborn

In [9]:
df = pd.read_csv("ecommerce.csv")
df.head(2)

                       Email  ... Yearly Amount Spent
0  mstephenson@fernandez.com  ...          587.951054
1          hduke@hotmail.com  ...          392.204933

[2 rows x 8 columns]

Email	: 고객의 이메일  
Address	: 주소  
Avatar : 고객이 선택한 아바타  
Avg. Session Length : 한번 접속한 후 얼마나 접속을 하였는지  
Time on App : app으로 접속한 시간   
Time on Website : web으로 접속한 시간   
Length of Membership : 맴버쉽을 가입한 기간    
Yearly Amount Spent : 고객이 연간 소비한 금액 (target)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [11]:
df.describe()

       Avg. Session Length  ...  Yearly Amount Spent
count           500.000000  ...           500.000000
mean             33.053194  ...           499.314038
std               0.992563  ...            79.314782
min              29.532429  ...           256.670582
25%              32.341822  ...           445.038277
50%              33.082008  ...           498.887875
75%              33.711985  ...           549.313828
max              36.139662  ...           765.518462

[8 rows x 5 columns]

In [15]:
df.Avatar.value_counts().to_frame().T

        Cyan  SlateBlue  Teal  ...  CornflowerBlue  LightSlateGray  DeepSkyBlue
Avatar     7          7     7  ...               1               1            1

[1 rows x 138 columns]

In [16]:
data = df.drop(columns=["Email",	"Address",	"Avatar"], axis=1)
data

     Avg. Session Length  ...  Yearly Amount Spent
0              34.497268  ...           587.951054
1              31.926272  ...           392.204933
2              33.000915  ...           487.547505
3              34.305557  ...           581.852344
4              33.330673  ...           599.406092
..                   ...  ...                  ...
495            33.237660  ...           573.847438
496            34.702529  ...           529.049004
497            32.646777  ...           551.620145
498            33.322501  ...           456.469510
499            33.715981  ...           497.778642

[500 rows x 5 columns]

In [17]:
data.columns

Index(['Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [21]:
from sklearn.model_selection import train_test_split

features = ['Avg. Session Length', 'Time on App', 'Time on Website', 'Length of Membership']
target = "Yearly Amount Spent"

X = data[features]
y = data[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 4), (100, 4), (400,), (100,))

In [22]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [24]:
# OLS의 경우, y_train부터 넣어주어야하니 이점은 주의해야합니다. 
model = sm.OLS(y_train, X_train)
model = model.fit()

In [30]:
print(model.summary())

                                 OLS Regression Results
========================================================================================
Dep. Variable:     Yearly Amount Spent   R-squared (uncentered):                   0.998
Model:                             OLS   Adj. R-squared (uncentered):              0.998
Method:                  Least Squares   F-statistic:                          4.886e+04
Date:                 Thu, 22 Jul 2021   Prob (F-statistic):                        0.00
Time:                         08:52:51   Log-Likelihood:                         -1819.4
No. Observations:                  400   AIC:                                      3647.
Df Residuals:                      396   BIC:                                      3663.
Df Model:                            4
Covariance Type:             nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Avg. Session Length     11.7080      0.874     13.402      0.000       9.991      13.425
Time on App             34.6726      1.135     30.561      0.000      32.442      36.903
Time on Website        -14.0144      0.809    -17.321      0.000     -15.605     -12.424
Length of Membership    60.5574      1.120     54.059      0.000      58.355      62.760
==============================================================================
Omnibus:                        0.470   Durbin-Watson:                   2.105
Prob(Omnibus):                  0.790   Jarque-Bera (JB):                0.591
Skew:                           0.043   Prob(JB):                        0.744
Kurtosis:                       2.833   Cond. No.                         54.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.